<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Layout</title>
    <link rel="stylesheet" href="/static/css/practice4/style4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<div class="container">
    <header>
        <div class="header-left">
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
                <div class="logo">
                    <img src="img/youtube-logo.png" alt="YouTube">
                </div>
            </div>

        <form class="search-form">
            <input type="text" class="search-input" placeholder="Пошук">
            <button class="search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <button class="voice-button">
                <i class="fas fa-microphone"></i>
            </button>
        </form>

        <div class="user-menu">B</div>
    </header>

    <div class="content">
        <aside class="sidebar">
            <ul class="main-menu">                <li><img src="icons/home.png" alt="Головна"> Головна</li>
                <li><img src="icons/shorts.png" alt="Shorts"> YouTube Shorts</li>
                <li><img src="icons/subscriptions.png" alt="Підписки"> Підписки</li>
                <li><img src="icons/music.png" alt="Music"> YouTube Music</li>
            </ul>
            <div class="divider"></div>
            <ul class="sub-menu">
                <li><img src="icons/user-channel.png" alt="Ваш канал"> Ваш канал</li>
                <li><img src="icons/history.png" alt="Історія"> Історія</li>
                <li><img src="icons/videos.png" alt="Ваші відео"> Ваші відео</li>
                <li><img src="icons/watch-later.png" alt="Переглянуті пізніше"> Переглянуті пізніше</li>
                <li><img src="icons/download.png" alt="Завантаження"> Завантаження</li>
                <li><img src="icons/more.png" alt="Завантаження"> Показати більше</li>
            </ul>

            <div class="divider"></div>

            <ul class="subscriptions">
                <li><img src="avatars/navi.png" alt="NAVI CS2">NAVI CS2</li>
                <li><img src="avatars/rozetka.png" alt="Rozetka">Rozetka</li>
                <li>Показати ще 24</li>
            </ul>
        </aside>

        <main>
            <nav class="button-list">
                <ul>
                    <li class="button-item">Усі</li>
                    <li class="button-item">Ігри</li>
                    <li class="button-item">Музика</li>
                    <li class="button-item">Прямі трансляції</li>
                    <li class="button-item">Новини</li>
                    <li class="button-item">Пригодницький бойовик</li>
                    <li class="button-item">Мультфільми</li>
                    <li class="button-item">Освітні мистецтва</li>
                </ul>
            </nav>

                <div class="videos-container">
                    <div class="video-thumbnail">
                        <img src="video-pic/navi-teamspeak.png" alt="Thumbnail" class="thumbnail-image">
                        <div class="video-duration">12:00</div>
                        <div class="video-info">
                            <div class="channel-logo">
                                <img src="avatars/navi.png" alt="Logo">
                            </div>
                            <div class="video-details">
                                <h3>Тімспік NAVI vs G2, Falcons на BLAST Premier Fall Final 2024</h3>
                                <p>NAVI CS2</p>
                                <p>10 тис. переглядів • 3 дні тому</p>
                            </div>
                        </div>
                    </div>

                    <div class="videos-container">
                        <div class="video-thumbnail">
                            <img src="video-pic/rozetka.jpg" alt="Thumbnail" class="thumbnail-image">
                            <div class="video-duration">13:00</div>
                            <div class="video-info">
                                <div class="channel-logo">
                                    <img src="avatars/rozetka.png" alt="Logo">
                                </div>
                                <div class="video-details">
                                    <h3>S25 з Mediatek, Epic Games проти Google, Samsung втрачає своїх | Маленькі Новини №67
                                    </h3>
                                    <p>ROZETKA</p>
                                    <p>25 тис. переглядів • 5 днів тому</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
</div>
</body>
</html>
